@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply max-w-7xl mx-auto text-[#444444] underline-offset-[3px];
    }

    * {
        font-family: "Geist Sans", sans-serif;
    }

    h1,
    h2 {
        @apply font-semibold text-black;
        font-family: "Alice", serif;
    }

    h1 {
        @apply text-3xl md:text-4xl;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    form {
        @apply flex flex-col gap-5;
    }

    label {
        @apply flex flex-col;

        button,
        input {
            @apply mt-1;
        }
    }

    a,
    input,
    button,
    article {
        @apply card;
    }
}

@layer components {
    .page {
        @apply w-11/12 md:w-3/4 lg:w-1/2 mx-auto space-y-5 py-10 text-base md:text-lg;
    }

    .card {
        @apply px-4 py-2 rounded-lg border border-zinc-200;
    }

    .faded {
        @apply text-[#767676];
    }

    .link-action {
        @apply border-none p-2.5;
    }
}
